<a href="https://colab.research.google.com/github/mamanipatricia/pythonFundamentals/blob/master/day3_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ESTRUCTURAS DE DATOS
1. Lista 
2. Tupla
3. Set
4. Diccionario

**Mutable** = puede cambiar su contenido sin cambiar su identidad.

**Inmutable** = el valor no se puede actualizar

#### Ejemplos en: `int, str, bool, list, tuple, set y diccionarios`

In [ ]:
# Integers = Inmutables
# cambia los ids

number = 10
print('number: ', number)
print('id: ', id(number))

number += 10
print('number: ', number)
print('id: ', id(number))

number:  10
id:  10914784
number:  20
id:  10915104

In [ ]:
# Strings = Inmutables
# ids diferentes

day = 'Domingo'
print('day: ', day)
print('id: ', id(day))

# day[0] = 'd' # error!
# print('day: ', day)

# para actualizar un string x, hay que crear uno nuevo
day = 'domingo'
print(day)
print('id: ', id(day))

# print(day[0])

day:  Domingo
id:  139679775925840
domingo
id:  139679775925784

In [ ]:
# bool = inmutables
# ids diferentes

is_weekend = True
print('is_weekend: ', is_weekend)
print('id: ', id(is_weekend))

is_weekend = not True
print('id: ', id(is_weekend))
print('is_weekend: ', is_weekend)

is_weekend:  True
id:  10302848
id:  10300256
is_weekend:  False

In [ ]:
# listas = mutables
# ids iguales
countries = ['Bolivia', 'Brasil', 'Panama']
print('countries: ', countries)
print('id: ', id(countries))

# adicionando un elemento
countries.append('Chile')

countries[1] = 'Argentina'
print('countries: ', countries)
print('id: ', id(countries))

countries:  ['Bolivia', 'Brasil', 'Panama']
id:  139679775866568
countries:  ['Bolivia', 'Argentina', 'Panama', 'Chile']
id:  139679775866568

In [ ]:
# tuplas = Inmutables
# ids diferentes

grades_tuple = (77, 88, 99, 100, 299, 445) 
print('grades_tuple: ', grades_tuple)
print('id: ', id(grades_tuple))

# TUPLES - para agregar un elemento siempre adicionar una coma al final
grades_tuple = grades_tuple + (999, ) # solo adiciona al final
# grades_tuple = (800, )
print("grades_tuple: ", grades_tuple)
print('id: ', id(grades_tuple))

grades_tuple:  (77, 88, 99, 100, 299, 445)
id:  139679776403624
grades_tuple:  (77, 88, 99, 100, 299, 445, 999)
id:  139679775644744

In [ ]:
# Sets = mutable
# ids iguales

# SET - unicos y desordenados
grades_set = {77, 43, 23, 64, 64} # elimina 64
print('grades_set: ', grades_set)
print('id: ', id(grades_set))

# SET - adiciona el elemento
grades_set.add(54)
# set_grades[0] = 60 # no acepta adicionar! pero con add si!

print('grades_set: ', grades_set)
print('id: ', id(grades_set))

grades_set:  {64, 43, 77, 23}
id:  139679785998376
grades_set:  {64, 43, 77, 54, 23}
id:  139679785998376

In [ ]:
# Diccionarios = mutables
# ids iguales

student = {'name': 'Jose', 'age': 23, 'grades': [13, 45, 53, 6]}
print('student: ', student)
print('id: ', id(student))

# DICT - adiciona un elemento 
student['DNI'] = 123456

student['name'] = 'Maria' # actualizando un elemento

print('student: ', student)
print('id: ', id(student))

student:  {'name': 'Jose', 'age': 23, 'grades': [13, 45, 53, 6]}
id:  139679775718064
student:  {'name': 'Maria', 'age': 23, 'grades': [13, 45, 53, 6], 'DNI': 123456}
id:  139679775718064

## EJERCICIOS

## Listas
```python
lista = ['Elemento 1', 'Elemento 2', ...]
```
METODOS
```python
list.append(x)
list.extend()
list.insert(i, x)
list.remove(x)
list.pop([i])
list.clear()
list.count(x)
list.sort(key=None, reverse=False)
list.reverse()
list.copy()
```

In [171]:
# declaracion de una lista
paises = ['Brasil',
          'Perú',
          'Chile',
          'Colombia',
          'Argentina',
          'Ecuador',
          'Bolivia',
          'Venezuela',
          'Guayana Francesa',
          'Paraguay'
          ]
                        
# Imprimiendo toda la lista
print(type(paises))
print(paises)
paises

print('--- formas de obtener elementos de una lista ---')
print(paises[:])
print(paises[3])
print(paises[0:3])
print(paises[:2])
print(paises[2:])
print(paises[::2])

<class 'list'>
['Brasil', 'Perú', 'Chile', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay']
--- formas de obtener elementos de una lista ---
['Brasil', 'Perú', 'Chile', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay']
Colombia
['Brasil', 'Perú', 'Chile']
['Brasil', 'Perú']
['Chile', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay']
['Brasil', 'Chile', 'Argentina', 'Bolivia', 'Guayana Francesa']

In [173]:
# Metodos en Listas

paises = ['Brasil',
          'Perú',
          'Chile',
          'Colombia',
          'Argentina',
          'Ecuador',
          'Bolivia',
          'Venezuela',
          'Guayana Francesa',
          'Paraguay'
          ]

# append, adiciona un elemento al final de una lista.
paises.append('Costa Rica')
print('Paises - append: ', paises)

# insert, agrega un elemento el la posicion x de la lista
paises.insert(3, 'Bolivia') 
print('Paises - insert: ', paises)

# extend, concatena una nueva lista a la lista previamente creada
paises.extend(['Canada', 'EEUU', 'Mexico'])
print('Paises - extend: ', paises)

# index, saber el indice donde se encuentra el valor
paises.index('Bolivia')
print('Paises - index: ', paises)

# remove, elimina un elemento de la lista:
paises.remove('EEUU')
print('Paises - remove: ', paises)

# pop, remover el ultimo elemento de la lista
paises.pop()
print('Paises - pop: ', paises)

# sort, ordenar una lista
paises.sort()
print('Paises - sort: ', paises)

# reverse, invertir una lista
paises.reverse()
print('Paises - reverse: ', paises)

# Multiplicar la lista X veces
print('Paises - * X: ', paises[:] * 3)

# count, verifica la cantidad de veces que hay un elemento en una lista
print('Paises - count: ', paises.count('Bolivia'))

# copy
copia_paises = paises.copy()

# clear, elimina una lista
paises.clear()
print('Paises - clear: ', paises)

# elementos unicos
print('paises - copia: ', set(copia_paises))

Paises - append:  ['Brasil', 'Perú', 'Chile', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica']
Paises - insert:  ['Brasil', 'Perú', 'Chile', 'Bolivia', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica']
Paises - extend:  ['Brasil', 'Perú', 'Chile', 'Bolivia', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica', 'Canada', 'EEUU', 'Mexico']
Paises - index:  ['Brasil', 'Perú', 'Chile', 'Bolivia', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica', 'Canada', 'EEUU', 'Mexico']
Paises - remove:  ['Brasil', 'Perú', 'Chile', 'Bolivia', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica', 'Canada', 'Mexico']
Paises - pop:  ['Brasil', 'Perú', 'Chile', 'Bolivia', 'Colombia', 'Argentina', 'Ecuador', 'Bolivia', 'Venezuela', 'Guayana Francesa', 'Paraguay', 'Costa Rica', 'Canada']
Paises - sort:  ['Argentina', 'Bolivia', 'Bolivia', 'Brasil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Ecuador', 'Guayana Francesa', 'Paraguay', 'Perú', 'Venezuela']
Paises - reverse:  ['Venezuela', 'Perú', 'Paraguay', 'Guayana Francesa', 'Ecuador', 'Costa Rica', 'Colombia', 'Chile', 'Canada', 'Brasil', 'Bolivia', 'Bolivia', 'Argentina']
Paises - * X:  ['Venezuela', 'Perú', 'Paraguay', 'Guayana Francesa', 'Ecuador', 'Costa Rica', 'Colombia', 'Chile', 'Canada', 'Brasil', 'Bolivia', 'Bolivia', 'Argentina', 'Venezuela', 'Perú', 'Paraguay', 'Guayana Francesa', 'Ecuador', 'Costa Rica', 'Colombia', 'Chile', 'Canada', 'Brasil', 'Bolivia', 'Bolivia', 'Argentina', 'Venezuela', 'Perú', 'Paraguay', 'Guayana Francesa', 'Ecuador', 'Costa Rica', 'Colombia', 'Chile', 'Canada', 'Brasil', 'Bolivia', 'Bolivia', 'Argentina']
Paises - count:  2
Paises - clear:  []
paises - copia:  {'Perú', 'Guayana Francesa', 'Paraguay', 'Costa Rica', 'Colombia', 'Canada', 'Brasil', 'Chile', 'Venezuela', 'Ecuador', 'Argentina', 'Bolivia'}

## Tuplas

definicion de una tupla
```python
lotery_number = ('elemento 1', 'elemento 2', ...)
```

In [ ]:
lotery_numbers = (12, 13, 14, 15, 16, 17, 18, 19, 20)
type(lotery_numbers)

tuple

In [ ]:
# La tupla tiene diferentes tipos de datos
# cadena = inmutable, lista = mutable
# 
t = ('pyladies La Paz', [1, 2, 3])
t
type(t)

tuple

In [ ]:
s = {1,1,1,1}
s

{1}

In [ ]:
for key, value in sorted(released.items()):
    print key, value



def ():
evens = []
for number in numbers:
    if number % 2 == 0:
        evens.append(number)
return evens




cuadrado = []
for x in range(10):
    cuadrado.append(x**2)

cuadrado

En python todo se interpreta como objeto. Todos los objetos pueden clasificarse como **mutables** o **inmutables**.

- **Mutables** se pueden cambiar los valores después de la creación.
- **Inmutables** no se pueden cambiar los valores una vez creados.

| Estructura de Datos | Mutable/Inmutable | caracteristicas | sintaxis |
| -------- | -------- | -------| ------|
| Lista     | Mutable | - Colección ordenada de elemento, Indexación, Separación mediante comas | `[]` |
| Tupla | Inmutable | - Colección ordenada de elementos, No se puede cambiar los elementos, Indexación, Separación mediante comas| `()` |
| Set | Mutable | - Colección desordenado de elementos, No se admite la indexación, No permite duplicados | `{}` | 
| Diccionario | Mutable | - Cada elemento se representa (clave: par de valores), Indexación, Separación mediante comas | `{key: value}` |

| Clase | Mutable/inmutable |
|---|---|
| entero - `int` | inmutable |
| booleano - `bool` | inmutable |
| flotante - `float` | inmutable |
| cadena - `str` | inmutable |
| tupla - `tuple` | inmutable |
| frozenset - `frozenset` | inmutable |
| lista - `list` | mutable |
| set - `set` | mutable |
| diccionarios - `dict` | mutable |

Diferencias entre `mutables` e `inmutables`

**Inmutables**
- Rapidos de acceder
- Costosos en cambiar sus elementos - (implica crear una copia)

**Mutables**
- Excelentes cuando se necesita cambiar el tamaño del objeto
-

In [ ]:
# lista de cadenas
planetas = ["Venus", "Tierra", 'Marte', "Jupiter", "Saturno", "Neptuno"]
print(planetas)

# lista con multiple tipos de datos
nombres_edad = ["Juan", 10, "Maria", 23, "Carlos", 24]
print(nombres_edad)

# listas dentro de listas
nombres_notas = ["Juan", [50, 60, 30], "Maria", [100, 50, 89], "Carlos", [90, 89, 56]]
print(nombres_notas)

# longitud de una lista
print("longitud de la lista planetas", len(planetas))
print("longitud de la lista nombres_edad", len(nombres_edad))
print("longitud de la lista nombres_notas", len(nombres_notas))

# Mostrar el primer elemento de una lista
print(planetas[0])
print(nombres_edad[0])
print(nombres_notas[0])

# mostrar en un rango
print(planetas[1:3])
print(planetas[0:7:2])
print(planetas[0:len(planetas):2])

# actualizar un elemento de la lista
print(planetas)
planetas[0] = "Mercurio"
print(planetas)

# agregar un elemento
planetas.append("Venus")
print(planetas)
planetas.append("Planeta X")
print(planetas)

# insertar en una posición especifica
planetas.insert(1, "PLANETA NUEVO")
print(planetas)

# Eliminar un elemento de la lista
planetas.remove("Venus")
print(planetas)

# eliminar un item de la lista en la posición x
planetas.pop(1)
print(planetas)

# remover todos los elementos de la lista
# planetas.clear()
# print(planetas)

# mostrar el indice de un elemento
print(planetas.index("Marte"))


# mostrar cuantas veces aparece un elemento en la lista
print(planetas)
planetas.append("Marte")
print(planetas)
print(planetas.count("Marte"))

# ordenar la lista
planetas.sort()
print(planetas)

# invertir la lista
planetas.reverse()
print(planetas)

nuevos_planetas = planetas.copy()
print(nuevos_planetas)

['Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno']
['Juan', 10, 'Maria', 23, 'Carlos', 24]
['Juan', [50, 60, 30], 'Maria', [100, 50, 89], 'Carlos', [90, 89, 56]]
longitud de la lista planetas 6
longitud de la lista nombres_edad 6
longitud de la lista nombres_notas 6
Venus
Juan
Juan
['Tierra', 'Marte']
['Venus', 'Marte', 'Saturno']
['Venus', 'Marte', 'Saturno']
['Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno']
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno']
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Venus']
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Venus', 'Planeta X']
['Mercurio', 'PLANETA NUEVO', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Venus', 'Planeta X']
['Mercurio', 'PLANETA NUEVO', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Planeta X']
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Planeta X']
2
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Planeta X']
['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Planeta X', 'Marte']
2
['Jupiter', 'Marte', 'Marte', 'Mercurio', 'Neptuno', 'Planeta X', 'Saturno', 'Tierra']
['Tierra', 'Saturno', 'Planeta X', 'Neptuno', 'Mercurio', 'Marte', 'Marte', 'Jupiter']
['Tierra', 'Saturno', 'Planeta X', 'Neptuno', 'Mercurio', 'Marte', 'Marte', 'Jupiter']